@font-face { font-family: Waterproof-condense; src: url('Waterproof-condense.otf');}
@font-face { font-family: Waterproof-extend; src: url('Waterproof-extend.otf'); }
@font-face { font-family: Waterproof-regular; src: url('Waterproof-regular.otf'); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
}

img {
  max-width: 100%;
}

#underline {
  text-decoration: underline;
}

#nav-big {
  //font-family: "Times New Roman", Times, serif;
  font-family: Waterproof-regular, san-serif;
  font-size: 14px;
  float: left;
  line-height: 20px;
  overflow: auto;
  padding-top: 20px;
  position: fixed;
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
  left: 60%;
  height: 100%;
  border-left: 1px double grey;
  border-right: 1px double grey;
  width: 175px;
}

#nav-big a{
  text-decoration: none;
  color: black;

}

#nav-big a:link, a:visited {
  text-decoration: none;
  color: black;
}

#nav-big a:active {
  text-decoration: underline;
  color: black;

}

#nav-big a:hover {
  text-decoration: underline;
  color: black;

  /*
  border-bottom: solid 0.5px #000;
  display: inline;
  padding-bottom: 1px;
  */
}

#main-left {
  margin: 0 0 0 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  float: left;
  width: 60%;
  display: inline-block;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

#main-left iframe {
  height: 100%;
  width: 100%;
}

iframe {
  max-width: 100%;
  overflow-y: scroll;
  border: none;
  display: block;
}

#exhibitions a{
  text-decoration: none;
  color: black;

}

#exhibitions a:link, a:visited {
  text-decoration: none;
  color: black;
}

#exhibitions a:hover {
  text-decoration: underline;
  color: black;
  /*
  border-bottom: solid 1px #000;
  display: inline;
  padding-bottom: 1px;
  */
}

#main-right{
  margin: 0 0 0 0;
  left: calc(60% + 175px);
  position: absolute;
  overflow: auto;
  float: left;
  height: 100%;
  width: calc(100% - (175px + 60%));
}

#credit {
  font-size: 12px;
  bottom: 10px;
  align: right;
  position: fixed;
  line-height: 14px;
}

h1 {
  font-family: Waterproof-condense;
  font-size: 12px;
  font-weight: normal;
}

h2 {
  font-family: Waterproof-extend;
  font-size: 12px;
  font-weight: normal;
}

h3 {
  font-family: Waterproof-regular;
  font-size: 12px;
  font-weight: normal;
}

div {
  display: block;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

body {
  //font-family: Arial, sans-serif;
  font-family: Waterproof-regular;
  font-size: 14px;
  line-height: 20px;
}

.paragraph-text p, .paragraph-text h1, .paragraph-text h2, .paragraph-text h3 {
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  color: grey;
  background-color: grey;
  border: 0px;
  height: 1px;
}

#artists-list {
  font-size: 19px;
}

#nav-small {
  display: none;
}

@media (max-width: 768px) {
  /*
  #nav{
    left: 0;
    padding-left: 6px;
    padding-right: 6px;
    width: 125px;
  }
  #main-left {
    left: 125px;
    width: calc(100% - (125px));
  }
  */
  #nav-small {
    height: 120px;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px double grey;
  }

  #main-left {
    left: 0;
    top: 120px;
    width: 100%;
  }
  #main-right {
    display: none;
  }
  #nav-big {
    display: none;
  }
  #nav-small {
    display: block;
  }
  #menu-small {
    padding-right: 3px;
    width: 250px;
    float: right;
    line-height: 32px;
    margin-top: 5px;
  }
  #menu-small-1 {
    display: inline-block;
    float: right;
    width: 100%;
  }
  #menu-small-1 div{
    display: inline-block;
    margin-left: 20px;
    float: right;
  }
  #menu-small-2 {
    display: inline-block;
    float: right;
    width: 100%;
  }
  #menu-small-2 div{
    display: inline-block;
    margin-left: 20px;
    float: right;
  }

}
