@font-face { font-family: Waterproof-condense; src: url('Waterproof-condense.otf');}
@font-face { font-family: Waterproof-extend; src: url('Waterproof-extend.otf'); }
@font-face { font-family: Waterproof-regular; src: url('Waterproof-regular.otf'); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
}

img {
  max-width: 100%;
}

#underline {
  text-decoration: underline;
}

#nav-big {
  //font-family: "Times New Roman", Times, serif;
  //font-family: Arial, sans-serif;
  font-family: Waterproof-regular, san-serif;
  font-size: 14px;
  float: left;
  line-height: 20px;
  overflow: auto;
  padding-top: 20px;
  position: fixed;
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
  left: 60%;
  height: 100%;
  border-left: 1px double grey;
  border-right: 1px double grey;
  width: 175px;
}

#nav-big a{
  text-decoration: underline;
  color: black;

}

#nav-big a:link, a:visited {
  text-decoration: underline;
  color: black;
}

#nav-big a:active {
  text-decoration: underline;
  color: black;

}

#nav-big a:hover {
  text-decoration: underline;
  color: black;

  /*
  border-bottom: solid 0.5px #000;
  display: inline;
  padding-bottom: 1px;
  */
}

#nav-small a{
  text-decoration: underline;
  color: black;

}

#nav-small a:link, a:visited {
  text-decoration: underline;
  color: black;
}

#nav-small a:active {
  text-decoration: underline;
  color: black;

}

#nav-small a:hover {
  text-decoration: underline;
  color: black;

  /*
  border-bottom: solid 0.5px #000;
  display: inline;
  padding-bottom: 1px;
  */
}

#main-left {
  margin: 0 0 0 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  float: left;
  width: 60%;
  display: inline-block;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

iframe {
  height: 100%;
  width: 100%;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  border: none;
  display: block;
}

a{
  text-decoration: underline;
  color: black;
}

a:link, a:visited {
  text-decoration: underline;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
  /*
  border-bottom: solid 1px #000;
  display: inline;
  padding-bottom: 1px;
  */
}

#main-right{
  margin: 0 0 0 0;
  left: calc(60% + 175px);
  position: absolute;
  overflow: auto;
  float: left;
  height: 100%;
  width: calc(100% - (175px + 60%));
}

#credit {
  font-size: 12px;
  bottom: 10px;
  text-align: right;
  float: right;
  width: 150px;
  position: fixed;
  line-height: 14px;
}

h1 {
  //font-family: Arial, sans-serif;
  font-family: Waterproof-condense;
  font-size: 12px;
  font-weight: normal;
}

h2 {
  //font-family: Arial, sans-serif;
  font-family: Waterproof-extend;
  font-size: 12px;
  font-weight: normal;
}

h3 {
  //font-family: Arial, sans-serif;
  font-family: Waterproof-regular;
  font-size: 12px;
  font-weight: normal;
}

div {
  display: block;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

body {
  //font-family: Arial, sans-serif;
  font-family: Waterproof-regular;
  font-size: 14px;
  line-height: 20px;
}

.paragraph-text p, .paragraph-text h1, .paragraph-text h2, .paragraph-text h3 {
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  color: grey;
  background-color: grey;
  border: 0px;
  height: 1px;
}

ul {
  list-style-type: none;
}

#nav-small {
  display: none;
}

#br-exhibitions {
  display: block;
  margin: 10px;
}

.book_image {
  height: 320px;
}

.book_image img{
  max-width: 320px;
  vertical-align: middle;
}

.book_image_big{
  height: 450px;
  width: 450px;
}

.book-list p{
  padding: 0;
}


.coming_soon {
  border: 0.1px solid white;
  width: 320px;
  height: 320px;
}

.coming_soon hr {
  background-color: grey;
  height: 0.5px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 160px;
}

@media (max-width: 768px) {
  #nav-small {
    height: 105px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px double grey;
  }

  #main-left {
    margin: 0 0 0 0;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 105px;
    float: left;
    width: 100%;
    display: inline-block;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  #main-left iframe {
    height: 100%;
    width: 100%;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    border: none;
    display: block;
  }

  #main-right {
    display: none;
  }
  #nav-big {
    display: none;
  }
  #nav-small {
    display: block;
  }

  #menu-small {
    width: 250px;
    float: right;
    line-height: 32px;
  }
  #menu-small-1 {
    display: inline-block;
    float: right;
    width: 100%;
  }
  #menu-small-1 div{
    display: inline-block;
    margin-left: 15px;
    float: right;
  }
  #menu-small-2 {
    display: inline-block;
    float: right;
    width: 100%;
  }
  #menu-small-2 div{
    display: inline-block;
    margin-left: 15px;
    float: right;
  }
}

@media (max-width: 335px) {
  #br-exhibitions {
    display: block;
    margin: 17px;
  }
}
